name: PR Lint

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  pr-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: morrisoncole/pr-lint-action@v1.7.1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          title-regex: '^\[SCRUM-\d+\]\s(Feat|Fix|Test|Docs|Chore|Perf|Refactor):\s.+$'
          on-failed-regex-fail-action: false
          on-failed-regex-create-review: true
          on-failed-regex-request-changes: false
          on-failed-regex-comment: >
            PR title must match: [SCRUM-<number>] <Feat|Fix|Test|Docs|Chore|Perf|Refactor>: <description>
          on-succeeded-regex-dismiss-review-comment: >
            PR title validation successful!